* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Goblin One', cursive;
}
.result {
  display: flex;
  justify-content: center;
}

.image {
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.history.com/the-obama-years/imgs/race-obama-ferguson.jpg");
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .image {
    background-image: url("https://media.gq.com/photos/564247823cc8fcfe0e19fd33/master/w_1641,h_2000,c_limit/obama-gq-1215-02.jpg");
    background-size: cover;
  }
}
